<div class="itemContainer">
	<fast-navigation
	[fastNavigationData]="fastNavigationData"
	></fast-navigation>
	<div>
	<h2>Usuários</h2>
	<div class="filtros">
		<div>
			<server-search-bar value="{{search}}" (changeSearch)="changeSearch($event)"></server-search-bar>
		</div>

		<div class="qtd">
			<label for="">Quantidade</label>
			<div class="field-select">
				<select class="campos" (change)="changePerPage($event.target)" value="{{perPage}}">
					<option value="10">10</option>
					<option value="25">25</option>
					<option value="50">50</option>
					<option value="100">100</option>
				</select>
			</div>
		</div>

		<div class="buttons">
			<button (click)="userModal.open()" *ngIf="showCreateUser">
				<span class="material-icons md-48 whitecolor">add_circle</span>
				Novo
			</button>

			<!-- <button>
				<span class="material-icons md-48 whitecolor">delete</span>
				Excluir
			</button> -->
		</div>
	</div>

	<loading-table-brands
		[loadingTableItems]="loading"
	></loading-table-brands>


	<div class="tableData">
		<table>
			<thead>
			<tr>
				<!-- <th><input type="checkbox"/></th> -->
				<th *ngFor="let header of headers" (click)="changeSort(header)">{{header.value}}
				<img *ngIf="header.key == sortBy" src="../../../assets/icons/arrow-table.svg" alt="ícone de seta para ordenar tabela"
					[class.sortIcon]="sort == 'asc' ? true : false" />
				</th>
				<th class="text-end">Ações</th>
			</tr>
			</thead>
			<tbody *ngIf="loading">
			<tr *ngFor="let a of getLoadLines()">
				<!-- <td><input type="checkbox"/></td> -->
				<td><ngx-skeleton-loader appearance="line" style="padding: 0"></ngx-skeleton-loader></td>
				<td><ngx-skeleton-loader appearance="line" style="padding: 0"></ngx-skeleton-loader></td>
				<td><ngx-skeleton-loader appearance="line" style="padding: 0"></ngx-skeleton-loader></td>
				<td><ngx-skeleton-loader appearance="line" style="padding: 0"></ngx-skeleton-loader></td>
				<td class="text-end pe-3">
					<div class="btn-group" role="group" aria-label="Ações">
						<button class="btn btn-primary material-icons" type="button" *ngIf="showUpdateUser">edit</button>
						<button class="btn btn-danger material-icons" type="button" *ngIf="showDeleteUser">delete</button>
					</div>
				</td>
			</tr>
			</tbody>
			<tbody *ngIf="!loading">
			<tr *ngFor="let item of items | paginate: { itemsPerPage: perPage, currentPage: page, totalItems: total }">
				<td>{{ item.name }}</td>
				<td>{{ item.username }}</td>
				<td>{{ item.email }}</td>
				<td>{{ item.phoneModel }}</td>
				<td>{{ item.appVersion ? item.appVersion.version : '' }}</td>
				<td class="text-end pe-3">
					<div class="btn-group" role="group" aria-label="Ações">
						<button class="btn btn-primary material-icons" type="button" (click)="userModal.open(item)" *ngIf="showUpdateUser">edit</button>
						<button class="btn btn-danger material-icons" type="button" (click)="deleteUserModal.open(item)" *ngIf="showDeleteUser">delete</button>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
		<div *ngIf="!loading && !items.length">
			<h2 style="text-align: center;">Nenhum dado encontrado</h2>
		</div>
		<div class="finishTable">
			<h3>Total: {{ total }}</h3>
			<div class="paginator">
				<div class="paginator" id="paginator">
					<pagination-controls
						(pageChange) = "changePage($event)"
						nextLabel="Próximo"
						previousLabel="Anterior"
					>
					</pagination-controls>
				</div>
			</div>

			<!-- <button-excel
				[modelExport]="exportData"
				[tableData]="listItems"
				reportName="Marcas"
			></button-excel> -->
		</div>
	</div>


	</div>
</div>
<user-modal #userModal (onClose)="getUsers()"></user-modal>
<delete-user-modal #deleteUserModal (onClose)="getUsers()"></delete-user-modal>
