<div class="login-screen">
	<div class="container-logo">
	</div>
	<div class="container-box">
        <div class="container-form">
            <form (ngSubmit)="validatePassword()" [formGroup]="passwordForm">
                <img src="../../../assets/img/initial_logo.png" id="logoinicial">
                <div class="header">
                    <h3>Entrar</h3>
                    <p>Acesso para Clientes</p>
                </div>

                <div class="login-box">
                    <label for="username">Digite a senha</label>
                    <input
                        type="password"
                        name="password"
                        id="password"
                        placeholder="Digite a senha"
                        formControlName="password"
                        required
                    />

                    <p id="errorMessage" *ngIf="submit">{{ messageError }}</p>
                </div>

                <div class="login-box">
                    <label for="username">Confirme a senha</label>
                    <input
                        type="password"
                        name="passwordConfirm"
                        id="passwordConfirm"
                        placeholder="Digite a senha"
                        formControlName="passwordConfirm"
                        required
                    />

                    <p id="errorMessage" *ngIf="submit">{{ messageError }}</p>
                </div>

                <div class="container-buttons" *ngIf="!loading">
                    <button type="submit" class="btns btns-black">Alterar</button>
                </div>

                <div class="container-buttons" (click)="goLogin()">
                    <button id="button-back" type="submit" class="btns btns-black">Voltar</button>
                </div>

            </form>
            
            <loading-circle
                [loading]="loading"
            ></loading-circle>
        </div>
	</div>
</div>
