<div class="login-screen">
	<div class="container-logo">
	</div>
	<div class="container-box">
        <div class="container-form">
            <form [formGroup]="formReset">
                <img src="../../../assets/img/initial_logo.png" id="logoinicial">
                <div class="header">
                    <h3>Entrar</h3>
                    <p>Acesso para Clientes</p>
                </div>

                <div class="message">
                    <p>{{ message }}</p>
                </div>

                <div class="login-box" *ngIf="!formCode">
                    <label for="username">Usuário</label>
                    <input
                        name="username"
                        id="username"
                        placeholder="Digite seu usuário"
                        formControlName="username"
                        required
                    />
                </div>

                <div class="login-box" *ngIf="formCode">
                    <label for="code">Codigo de segurança</label>
                    <input
                        name="code"
                        id="code"
                        placeholder="Digite o código"
                        formControlName="code"
                        required
                    />
                </div>

                <div class="container-buttons" *ngIf="!formCode && !loading" (click)="onSubmitResetPassword()">
                    <button type="submit" class="btns btns-black">Continuar</button>
                </div>

                <div class="container-buttons" *ngIf="formCode && !loading" (click)="onSubmitCode()">
                    <button type="submit" class="btns btns-black">Continuar</button>
                </div>

                <div class="container-buttons" (click)="goLogin()">
                    <button id="button-back" type="submit" class="btns btns-black">Voltar</button>
                </div>
            </form>
            
            <loading-circle
                [loading]="loading"
            ></loading-circle>
        </div>
	</div>
</div>
