.login-screen{
    background: url('../../../../assets/img/bg-login.png');
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    color: #000;
    display: flex;
    align-items: center;
}

.container-logo {
    display: flex;
    width: 60%;
    max-width: 60%;
    img {
        margin: auto;
        height: 630px;
    }
}

.container-box {
    display: flex;
    align-items: center;
    width: 40%;
    max-width: 40%;
    .container-form{
        background: var(--white);
        padding: 3rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;

        #logoinicial { width: 150px; }

        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .header {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin: 21px 0 43px 0;
            h3, p {
                margin: 0;
                padding: 0;
                font-family: 'Roboto', sans-serif;
                font-style: normal;
                font-weight: normal;
                color: var(--black);
            }

            h3{
                font-size: 30px;
            }

            p {
                font-size: 18px;
            }
        }

        .login-box{
            display: flex;
            flex-direction: column;
            margin: 20px 0 20px 0;

            label {
                color: var(--secundary-color);
                font-family: 'Roboto';
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 21px;
                margin-bottom: 10px;
            }

            input {
                background: var(--white);
                border: 1px solid #CCCCCC;
                box-sizing: border-box;
                border-radius: 4px;
                padding: 7px;
                font-size: 18px;
                color: var(--dark);
                width: 287px;
                
            }
        }

        .container-buttons {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;


            button {
                background: var(--secundary-color);
                border-radius: 4px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: var(--white);
                border: none;
                padding: 8px 40px;
                width: 287px;
                &:hover {
                    cursor: pointer;
                }

                &:disabled{
                    display: none;
                }
            }

            span {
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 21px;
                color: var(--dark);
                margin-top: 15px;
                a {
                    font-weight: bold;
                    color: var(--orange-primary);
                    text-decoration: none;
                }

                &:disabled{
                    display: none;
                }
            }
        }
        .container-buttons-reset {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 10px;
            justify-content: space-between;

                a {
                    font-weight: bold;
                    color: #000;;
                    text-decoration: none;
                }

                p{
                    margin: 0px;
                }
            
        }
    }
}

.loading{
    width: 40px;
    margin:  0 auto;
    text-align: center;
}



/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
    body {
      background-color: blue;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .container-logo {
        display: none;
    }
    .login-screen {
        flex: 1;
        justify-content: center;
        background-image: linear-gradient(to right, #fe8c21, #e92938);
        // min-height: 100%;
        // height: 100vh;
        // width: 100%;
        // flex-wrap: wrap;
    }
     .container-box {
        justify-content: center;
    }
  }