.home-screen {
    background-color: var(--interface-color);
    padding: 0px 32px 48px 32px;
    .title-container {
        margin-top: 32px;
        width: 100%;
        text-align: center;
        h1 {
            font-size: 32px;
        }
        h2 {
            font-size: 24px;
        }
    }
}

#title {
    color: var(--dark);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    text-align: start;
}

#titleChart {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    text-align: start;
}

.container-items {
    display: flex;
    flex-direction: column;
    width: 100%;
    .indicators {
        display: flex;
        flex-direction: column;
        align-items: center;
        .daily-indicators {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .indicator {
            width: 100%;
            margin-bottom: 16px;
            margin-right: 16px;
        }
    }
}

.container-charts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 14px 16px rgba(0, 0, 0, 0.08);
    margin-bottom: 20px;
    .chart-large {
        margin-top: 30px;
        width: 98%;
        text-align: center;
        margin-left: 30px;
    }
    .chart-medium {
        margin-top: 30px;
        width: 80%;
        text-align: center;
        margin-left: 30px;
    }
    .chart-small {
        margin-top: 30px;
        width: 80%;
        text-align: center;
        margin-left: 30px;
    }
    .charts-items {
        display: flex;
        justify-content: space-between;
        .chart-item {
            width: 48%;
        }
    }
    .chart-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 98%;
        .chart-options {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .option-span-icon {
                height: 5vh;
                cursor: pointer;
                span {
                    font-size: 30px;
                }
            }
        }
    }
}

@media only screen and (min-width: 615px) {
    .container-items {
        .title-container {
            text-align: start;
        }
        .indicators {
            .daily-indicators {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
            }
        }
    }
}

.icon-shape {
    padding: 12px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.icon {
    width: 3rem;
    height: 3rem;
}

.rounded-circle {
    border-radius: 50% !important;
}

.card-default-shadow {
    border: none;
    box-shadow: #959da533 0px 8px 24px;
    border-radius: 7px;
}

@media only screen and (min-width: 961px) {
    #titleChart {
        text-align: center;
    }
    .container-items {
        .container-indicators-and-map {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            .indicators {
                width: 50%;
            }
            .container-map {
                width: 50%;
            }
        }
    }
}